[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "==3.19.3"
ipython = "*"
psycopg2-binary = "*"
shapely = "*"
geopandas = "*"
osmium = "*"
rtree = "*"

[dev-packages]

[requires]
python_version = "3.10"
